body {
  font-family: "Inter", sans-serif;
}

#sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .topbar-content {
    flex-direction: column;
  }

  .contact-content {
    margin-bottom: 5px;
  }

  .topber-left-menu {
    order: 3;
    margin-top: 2px;
  }

  .topber-menu {
    order: 2;
  }

  .dropdown {
    order: 1;
    margin-bottom: 5px;
  }
}

/* nav */
nav {
  background-color: #fff;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#logo a {
  text-decoration: none;
}

.mobile-toggler {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-toggler {
    display: block;
  }

  .lg\\:hidden {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .container {
    flex-direction: column;
  }

  .lg\\:flex {
    display: none;
  }
}
