@media (max-width: 640px) {
  .container {
    padding-left: 16px; /* Adjust the value as needed */
    padding-right: 16px; /* Adjust the value as needed */
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: start;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: "\2605";
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #fdcf01;
  transition: color 0.3s;
}
